header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff0000;
    color: #1900ff;
    padding: 10px;
    box-sizing: border-box;
    }

body {
    font-family:   Verdana, Geneva, Tahoma, sans-serif;
    color: #1900ff;
    background-color: aqua;
    }

main {
    padding-top: 100px; /* to avoid content being hidden behind the header */
    }

img {
        height: 250px;
        width: 250px
    }

.links {
        float: right;
    }
.links a.active {
        border-bottom: 1px solid #555;
    }

.links a {
        text-decoration: none;
        color: #1900ff;
        margin-left: 0;
    }
section {
    height: auto;
    border-top: 1px solid #bbb;
    }

section:nth-of-type(odd) h3 {
    text-align: right;
}

section:nth-of-type(even) h3 {
    text-align: left;
}

.esteban-class{
        display: flex;
        flex-direction: column;
        
    }

.content{
        display: flex;
    }